<bp-navbar-config>
  <bp-action class="bp-icon" ng-click="toggleTheme()" theme-toggle></bp-action>
</bp-navbar-config>
<bp-table bp-scroll class="bp-table-grouped">
  <bp-table-grouped-header>Resources</bp-table-grouped-header>
  <bp-table>
    <bp-cell bp-tap="href('http://docs.bradypodion.io/')">
      <bp-action class="bp-icon fa-book before"></bp-action>
      Documentation
      <bp-action class="bp-icon fa-external-link after"></bp-action>
    </bp-cell>
    <bp-cell bp-tap="href('http://bradypodion.io/')">
      <bp-action class="bp-icon fa-compass before"></bp-action>
      Website
      <bp-action class="bp-icon fa-external-link after"></bp-action>
    </bp-cell>
    <bp-cell bp-tap="href('https://github.com/excellenteasy/bradypodion')">
      <bp-action class="bp-icon fa-github before"></bp-action>
      GitHub
      <bp-action class="bp-icon fa-external-link after"></bp-action>
    </bp-cell>
    <bp-cell bp-tap="href('https://twitter.com/bradypodionjs')">
      <bp-action class="bp-icon fa-twitter before"></bp-action>
      Twitter
      <bp-action class="bp-icon fa-external-link after"></bp-action>
    </bp-cell>
  </bp-table>
  <bp-table>
    <bp-cell ui-sref="authors">
      <bp-action class="bp-icon fa-users before"></bp-action>
      Authors
      <bp-action class="bp-icon fa-angle-right after"></bp-action>
    </bp-cell>
  </bp-table>
</bp-table>
